<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label>Server content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <br>
    <button class="btn btn-primary" (click)="onAddServer()">Add server</button>
    <button class="btn btn-primary" (click)="onAddBluePrint()">Add server blueprint</button>
  </div>
</div>
